@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --player-height: 100px;
}

body {
  width: 100%;
  background-color: #f4f5f7;
  font-family: "Mozilla Text", sans-serif;
  color: #1f2023;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.loader-wrapper,
.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  width: 100%;
}

.success-message {
  background-color: #d7f7e1;
  color: #166534;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.error-message {
  background-color: #fff1f2;
  color: #9f1239;
  border: 1px solid #fecdd3;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 5rem;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 8rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131315;
    color: whitesmoke;
  }

  .success-message {
    background-color: rgba(16, 185, 129, 0.1);
    color: #34d399;
    border: 1px solid rgba(16, 185, 129, 0.3);
  }

  .error-message {
    background-color: rgba(244, 63, 94, 0.1);
    color: #fb7185;
    border: 1px solid rgba(244, 63, 94, 0.3);
  }
}
