#auth-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block: 2rem;
  height: 100vh;
}

#auth-page h1 {
  text-align: center;
  padding-block: 1rem;
}

#auth-page .auth-wrapper {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}

#auth-page .auth-form {
  width: 400px;
  padding-top: 2rem;
}

#auth-page .auth-form.signup .name-wrapper {
  display: flex;
  gap: 1rem;
}

#auth-page .auth-form.signup .name-wrapper > div {
  flex: 1;
}

#auth-page .auth-form input,
#auth-page .auth-form button {
  background-color: #f5f5f7;
  border: 1px solid #d2d2d7;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  width: 100%;
  color: #1d1d1f;
}

#auth-page .auth-form .errors {
  margin: 10px 0;
}

#auth-page .auth-form .error-message {
  color: #dc3545;
  padding-bottom: 0.8rem;
}

#auth-page .auth-form button {
  background-color: #10b981;
  color: whitesmoke;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

#auth-page .auth-form button:disabled {
  background-color: #10b981;
  cursor: not-allowed;
  opacity: 0.7;
}

#auth-page .auth-footer {
  text-align: center;
  margin-top: 1rem;
}

#auth-page .auth-footer a {
  color: #10b981;
}

@media (prefers-color-scheme: dark) {
  #auth-page .auth-wrapper {
    background-color: #161618;
    border: 1px solid #2b2c31;
  }

  #auth-page .auth-form input {
    background-color: #1d1d1f;
    color: whitesmoke;
    border-color: #2b2c31;
  }
}
